<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.15.0.171074</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {770, 523}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>0</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 cm</string>
	<key>FileType</key>
	<string>package</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>32</integer>
			</dict>
			<key>ID</key>
			<integer>41</integer>
			<key>Points</key>
			<array>
				<string>{385.72500000000002, 269.80000000000001}</string>
				<string>{253.57496599999999, 269.40185259999998}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.48913</string>
						<key>g</key>
						<string>0.150679</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.494536</string>
						<key>g</key>
						<string>0.0741059</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>36</integer>
				<key>Info</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{283.5, 188.27500000000001}, {89.346699999999998, 24}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>42</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fmodern\fcharset0 Courier;}
{\colortbl;\red255\green255\blue255;\red0\green30\blue125;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720

\f0\fs24 \cf2 notifyAll()}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>34</integer>
				<key>Info</key>
				<integer>1</integer>
			</dict>
			<key>ID</key>
			<integer>40</integer>
			<key>Points</key>
			<array>
				<string>{385.72500000000002, 198.44999999999996}</string>
				<string>{355.298, 212.625}</string>
				<string>{355.298, 226.80000000000001}</string>
				<string>{385.72500000000002, 240.97499999999997}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.5</string>
						<key>g</key>
						<string>0.112547</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>1.4299999475479126</real>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>34</integer>
				<key>Info</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{260.02499999999998, 170.09999999999999}, {66, 24}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>43</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fmodern\fcharset0 Courier;}
{\colortbl;\red255\green255\blue255;\red0\green30\blue125;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720

\f0\fs24 \cf2 wait()}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>36</integer>
				<key>Info</key>
				<integer>2</integer>
			</dict>
			<key>ID</key>
			<integer>39</integer>
			<key>Points</key>
			<array>
				<string>{385.72499999999997, 184.75000000000006}</string>
				<string>{283.5, 198.44999999999999}</string>
				<string>{283.5, 240.97499999999999}</string>
				<string>{385.72500000000002, 255.15000000000001}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.5</string>
						<key>g</key>
						<string>0.112547</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>1.4299999475479126</real>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>Info</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>35</integer>
				<key>Info</key>
				<integer>5</integer>
			</dict>
			<key>ID</key>
			<integer>38</integer>
			<key>Points</key>
			<array>
				<string>{403.22500000229616, 240.97504328803367}</string>
				<string>{522.51359000000002, 240.98537082500002}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.48913</string>
						<key>g</key>
						<string>0.150679</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.494536</string>
						<key>g</key>
						<string>0.0741059</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>StickArrow</string>
					<key>HeadScale</key>
					<real>1.4285709857940674</real>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>34</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{427.21122362046145, 175.61716411625162}, {66, 24}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>44</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>37</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fmodern\fcharset0 Courier;}
{\colortbl;\red255\green255\blue255;\red0\green30\blue125;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720

\f0\fs24 \cf2 inc()}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>34</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>37</integer>
			<key>Points</key>
			<array>
				<string>{522.47500000000002, 198.60886562863999}</string>
				<string>{402.72500000000002, 198.44999999999999}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.48913</string>
						<key>g</key>
						<string>0.150679</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.494536</string>
						<key>g</key>
						<string>0.0741059</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>1.4299999475479126</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>35</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{385.72500000000002, 255.15000000000001}, {17, 14.65}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>36</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.48913</string>
						<key>g</key>
						<string>0.150679</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.494536</string>
						<key>g</key>
						<string>0.0741059</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{522.47500000000002, 127.575}, {17, 170.57499999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>35</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
				<string>{0.49773000000000001, 0.16487099999999999}</string>
				<string>{0.51768099999999995, -0.086517200000000002}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.48913</string>
						<key>g</key>
						<string>0.150679</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.494536</string>
						<key>g</key>
						<string>0.0741059</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{385.72500000000002, 198.44999999999999}, {17, 42.524999999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>34</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.48913</string>
						<key>g</key>
						<string>0.150679</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.494536</string>
						<key>g</key>
						<string>0.0741059</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{385.72500000000002, 155.92500000000001}, {17, 28.824999999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>33</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.48913</string>
						<key>g</key>
						<string>0.150679</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.494536</string>
						<key>g</key>
						<string>0.0741059</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{236.57499999999999, 127.09999999999999}, {17, 170.57499999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>HFlip</key>
			<string>YES</string>
			<key>ID</key>
			<integer>32</integer>
			<key>Magnets</key>
			<array>
				<string>{1, 1}</string>
				<string>{1, -1}</string>
				<string>{-1, -1}</string>
				<string>{-1, 1}</string>
				<string>{-0.499998, 0.33424799999999999}</string>
				<string>{-0.50793900000000003, -0.33594299999999999}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.48913</string>
						<key>g</key>
						<string>0.150679</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.494536</string>
						<key>g</key>
						<string>0.0741059</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>30</integer>
					<key>Points</key>
					<array>
						<string>{531.56248176291797, 113.72499999999999}</string>
						<string>{531.56200000000001, 311.85000000000002}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.48913</string>
								<key>g</key>
								<string>0.150679</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.494536</string>
								<key>g</key>
								<string>0.0741059</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.4285709857940674</real>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>TailScale</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>31</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{496.125, 99.224999999999994}, {70.875, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>31</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.48913</string>
								<key>g</key>
								<string>0.150679</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.494536</string>
								<key>g</key>
								<string>0.0741059</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green30\blue125;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\b\fs24 \cf2 \ul \ulc2 Client 2}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>27</integer>
					<key>Points</key>
					<array>
						<string>{393.80712006087293, 113.72499988476687}</string>
						<string>{393.66500000000002, 311.85000000000002}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.48913</string>
								<key>g</key>
								<string>0.150679</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.494536</string>
								<key>g</key>
								<string>0.0741059</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.4285709857940674</real>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>TailScale</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>28</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{330.02499999999998, 99.224999999999994}, {127.575, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>28</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.48913</string>
								<key>g</key>
								<string>0.150679</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.494536</string>
								<key>g</key>
								<string>0.0741059</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green30\blue125;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\b\fs24 \cf2 \ul \ulc2 BoundedCounter}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>26</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{289.2975902549212, 133.04214697728253}, {66, 24}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>AmericanTypewriter</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>45</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>25</integer>
				<key>Offset</key>
				<real>10.909090042114258</real>
				<key>Position</key>
				<real>0.52006888389587402</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fmodern\fcharset0 Courier;}
{\colortbl;\red255\green255\blue255;\red0\green30\blue125;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720

\f0\fs24 \cf2 dec()}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>33</integer>
				<key>Info</key>
				<integer>2</integer>
			</dict>
			<key>ID</key>
			<integer>25</integer>
			<key>Points</key>
			<array>
				<string>{253.57499999999996, 155.97966635757453}</string>
				<string>{385.72499999999997, 155.92499999999995}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.48913</string>
						<key>g</key>
						<string>0.150679</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.494536</string>
						<key>g</key>
						<string>0.0741059</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>1.4299999475479126</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>TailScale</key>
					<real>0.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>32</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>AllowLabelDrop</key>
					<false/>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>ID</key>
					<integer>23</integer>
					<key>Points</key>
					<array>
						<string>{245.3702460507553, 113.7249997312919}</string>
						<string>{245.57499999999999, 311.97500000000002}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.48913</string>
								<key>g</key>
								<string>0.150679</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.494536</string>
								<key>g</key>
								<string>0.0741059</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>HeadScale</key>
							<real>1.4285709857940674</real>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
							<key>TailScale</key>
							<real>0.5</real>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>24</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{212.625, 99.224999999999994}, {65.474999999999994, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>24</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>0.48913</string>
								<key>g</key>
								<string>0.150679</string>
								<key>r</key>
								<string>0</string>
							</dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.494536</string>
								<key>g</key>
								<string>0.0741059</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green30\blue125;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\b\fs24 \cf2 \ul \ulc2 Client 1}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>22</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>14.175000190734863</real>
		<key>MajorGridSpacing</key>
		<integer>10</integer>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>1</integer>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-08-27 15:07:42 +0000</string>
	<key>Modifier</key>
	<string>Oscar Nierstrasz</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>36</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSJobFeatures</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpAIY=</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>36</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPagesPerSheet</key>
		<array>
			<string>int</string>
			<string>1</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{842, 595}</string>
		</array>
		<key>NSPrintAllPages</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSReversePageOrder</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>36</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>36</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>0</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{123, 30}, {907, 632}}</string>
		<key>ListView</key>
		<false/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>138</integer>
		<key>VisibleRegion</key>
		<string>{{1, -7}, {769, 538}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
