<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle6</string>
		<string>169.23.0.276662</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {818, 571}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2009-01-16 10:32:10 +0000</string>
	<key>Creator</key>
	<string>Oscar Nierstrasz</string>
	<key>DisplayScale</key>
	<string>1.0000 cm = 1.0000 cm</string>
	<key>FileType</key>
	<string>package</string>
	<key>GraphDocumentVersion</key>
	<integer>12</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{178.86598789552212, 280.16293686706098}, {19, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>74</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>71</integer>
				<key>Offset</key>
				<real>-21.408451080322266</real>
				<key>Position</key>
				<real>0.54787236452102661</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>0.0</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs24 \cf0 slot}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{303.98497576949899, 280.67712119519632}, {19, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>73</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>72</integer>
				<key>Offset</key>
				<real>-19.154930114746094</real>
				<key>Position</key>
				<real>0.57978725433349609</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<real>0.0</real>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs24 \cf0 slot}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>28</integer>
			</dict>
			<key>ID</key>
			<integer>72</integer>
			<key>Points</key>
			<array>
				<string>{324.37752712600599, 241.84252149824084}</string>
				<string>{279.33031115753386, 300.84901654532575}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>92</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>28</integer>
			</dict>
			<key>ID</key>
			<integer>71</integer>
			<key>Points</key>
			<array>
				<string>{180.69649229841471, 241.84252149824084}</string>
				<string>{225.75219153006267, 300.84901654532575}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>98</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>52</integer>
			</dict>
			<key>ID</key>
			<integer>70</integer>
			<key>Points</key>
			<array>
				<string>{309.24435738838241, 108.87401654532574}</string>
				<string>{394.29435738838242, 108.87401654532574}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>UMLInheritance</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>56</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>56</integer>
			</dict>
			<key>ID</key>
			<integer>69</integer>
			<key>Points</key>
			<array>
				<string>{323.93330754127589, 199.84252149824081}</string>
				<string>{269.03731953415877, 129.87401654532573}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>UMLInheritance</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>92</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>TableGroup</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{297.8845170719103, 199.84252149824081}, {85.049999999999997, 14}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>ID</key>
							<integer>93</integer>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>GradientCenter</key>
									<string>{-0.29411799999999999, -0.264706}</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\partightenfactor0

\f0\b\fs24 \cf0 Consumer}</string>
								<key>VerticalPad</key>
								<real>0.0</real>
							</dict>
							<key>TextPlacement</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{297.8845170719103, 213.84252149824081}, {85.049999999999997, 14}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>ID</key>
							<integer>94</integer>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>GradientCenter</key>
									<string>{-0.29411799999999999, -0.264706}</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\partightenfactor0

\f0\fs24 \cf0  }</string>
								<key>VerticalPad</key>
								<real>0.0</real>
							</dict>
							<key>TextPlacement</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{297.8845170719103, 227.84252149824081}, {85.049999999999997, 14}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>ID</key>
							<integer>95</integer>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>GradientCenter</key>
									<string>{-0.29411799999999999, -0.264706}</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\partightenfactor0

\f0\fs24 \cf0 action()}</string>
								<key>VerticalPad</key>
								<real>0.0</real>
							</dict>
							<key>TextPlacement</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>GridH</key>
					<array>
						<integer>93</integer>
						<integer>94</integer>
						<integer>95</integer>
						<array/>
					</array>
					<key>GroupConnect</key>
					<string>YES</string>
					<key>ID</key>
					<integer>92</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{290.55118373857704, 199.84252149824081}, {99.225001335144043, 41.927943311826482}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>96</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>91</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>56</integer>
			</dict>
			<key>ID</key>
			<integer>64</integer>
			<key>Points</key>
			<array>
				<string>{181.14070371612422, 199.84252149824081}</string>
				<string>{236.04672376473553, 129.87401654532573}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>UMLInheritance</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>98</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>TableGroup</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{122.13648321831937, 199.84252149824081}, {85.049999999999997, 14}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>ID</key>
							<integer>99</integer>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>GradientCenter</key>
									<string>{-0.29411799999999999, -0.264706}</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\partightenfactor0

\f0\b\fs24 \cf0 Producer}</string>
								<key>VerticalPad</key>
								<real>0.0</real>
							</dict>
							<key>TextPlacement</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{122.13648321831937, 213.84252149824081}, {85.049999999999997, 14}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>ID</key>
							<integer>100</integer>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>GradientCenter</key>
									<string>{-0.29411799999999999, -0.264706}</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\partightenfactor0

\f0\fs24 \cf0  }</string>
								<key>VerticalPad</key>
								<real>0.0</real>
							</dict>
							<key>TextPlacement</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{122.13648321831937, 227.84252149824081}, {85.049999999999997, 14}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Vertical</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>ID</key>
							<integer>101</integer>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>GradientCenter</key>
									<string>{-0.29411799999999999, -0.264706}</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\partightenfactor0

\f0\fs24 \cf0 action()}</string>
								<key>VerticalPad</key>
								<real>0.0</real>
							</dict>
							<key>TextPlacement</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>GridH</key>
					<array>
						<integer>99</integer>
						<integer>100</integer>
						<integer>101</integer>
						<array/>
					</array>
					<key>GroupConnect</key>
					<string>YES</string>
					<key>ID</key>
					<integer>98</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{114.80315064792558, 199.84252416852891}, {99.225001335144043, 41.927943311826482}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>102</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>97</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>TableGroup</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{195.84435738838243, 87.874016545325745}, {113.40000000000001, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>57</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>GradientCenter</key>
							<string>{-0.29411799999999999, -0.264706}</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\partightenfactor0

\f0\b\fs24 \cf0 ActiveObject}</string>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{195.84435738838243, 101.87401654532574}, {113.40000000000001, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>58</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>GradientCenter</key>
							<string>{-0.29411799999999999, -0.264706}</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\partightenfactor0

\f0\fs24 \cf0  }</string>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{195.84435738838243, 115.87401654532574}, {113.40000000000001, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>59</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>GradientCenter</key>
							<string>{-0.29411799999999999, -0.264706}</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\partightenfactor0

\f0\i\fs24 \cf0 action()}</string>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>GridH</key>
			<array>
				<integer>57</integer>
				<integer>58</integer>
				<integer>59</integer>
				<array/>
			</array>
			<key>GroupConnect</key>
			<string>YES</string>
			<key>ID</key>
			<integer>56</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>TableGroup</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{394.29435738838242, 87.874016545325745}, {85.049999999999997, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>53</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>GradientCenter</key>
							<string>{-0.29411799999999999, -0.264706}</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\partightenfactor0

\f0\b\fs24 \cf0 Thread}</string>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{394.29435738838242, 101.87401654532574}, {85.049999999999997, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>54</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>GradientCenter</key>
							<string>{-0.29411799999999999, -0.264706}</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\partightenfactor0

\f0\fs24 \cf0  }</string>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{394.29435738838242, 115.87401654532574}, {85.049999999999997, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>55</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>GradientCenter</key>
							<string>{-0.29411799999999999, -0.264706}</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\partightenfactor0

\f0\fs24 \cf0 run()}</string>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>GridH</key>
			<array>
				<integer>53</integer>
				<integer>54</integer>
				<integer>55</integer>
				<array/>
			</array>
			<key>GroupConnect</key>
			<string>YES</string>
			<key>ID</key>
			<integer>52</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>28</integer>
			</dict>
			<key>ID</key>
			<integer>45</integer>
			<key>Points</key>
			<array>
				<string>{394.29435738838242, 335.41151654532575}</string>
				<string>{309.24435738838241, 335.67401654532574}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>UMLInheritance</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>10</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>TableGroup</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{195.84435738838243, 300.84901654532575}, {113.40000000000001, 28}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>42</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>GradientCenter</key>
							<string>{-0.29411799999999999, -0.264706}</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\partightenfactor0

\f0\b\fs24 \cf0 Buffer\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qr\partightenfactor0

\i\b0 \cf0 \'abinterface\'bb}</string>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{195.84435738838243, 328.84901654532575}, {113.40000000000001, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>43</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>GradientCenter</key>
							<string>{-0.29411799999999999, -0.264706}</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\partightenfactor0

\f0\fs24 \cf0  }</string>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{195.84435738838243, 342.84901654532575}, {113.40000000000001, 28}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>Vertical</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>44</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>GradientCenter</key>
							<string>{-0.29411799999999999, -0.264706}</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\partightenfactor0

\f0\fs24 \cf0 put(Object)\
get():Object}</string>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>GridH</key>
			<array>
				<integer>42</integer>
				<integer>43</integer>
				<integer>44</integer>
				<array/>
			</array>
			<key>GroupConnect</key>
			<string>YES</string>
			<key>ID</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{394.29435738838242, 314.14901654532576}, {85.049999999999997, 42.524999999999999}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>10</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\partightenfactor0

\f0\b\fs24 \cf0 Slot}</string>
				<key>VerticalPad</key>
				<real>0.0</real>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>GridSpacing</key>
		<real>14.175000190734863</real>
		<key>MajorGridSpacing</key>
		<integer>10</integer>
		<key>ShowsGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>1</integer>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>Slices</key>
			<string>NO</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoLineLength</key>
		<real>0.20000000298023224</real>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2017-08-17 11:23:29 +0000</string>
	<key>Modifier</key>
	<string>Oscar Nierstrasz</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>12</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSJobFeatures</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCEhAhOU09iamVjdACFhAFpAIY=</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>12</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPagesPerSheet</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{842, 595}</string>
		</array>
		<key>NSPrintAllPages</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSReversePageOrder</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>12</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>12</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<true/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Expanded_Canvases</key>
		<array/>
		<key>Frame</key>
		<string>{{364, 215}, {1806, 1038}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>200</integer>
		<key>TopSlabHeight</key>
		<real>250</real>
		<key>VisibleRegion</key>
		<string>{{-27, -28}, {872, 627.33333333333337}}</string>
		<key>Zoom</key>
		<real>1.5</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1.5</real>
				<real>8</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
